.App {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: jiggle 2s ease-in-out infinite alternate;
}

@keyframes jiggle {
  0% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(-50px);
  }
}
